service: riddle-backend


plugins:
  - serverless-prune-plugin
  - serverless-python-requirements
  - serverless-wsgi

# useDotenv: true

frameworkVersion: '3'

provider:
  name: aws
  profile: riddle
  region: us-east-2
  runtime: python3.9
  stage: ${opt:stage, 'dev'}
  environment:
    DJANGO_SECRET_KEY: self.custom.DJANGO_SECRET_KEY

custom:
  stage: 'dev'
  pythonRequirements:
    dockerizePip: non-linux
    zip: true
    fileName: ../requirements.txt
  DJANGO_SECRET_KEY: ${ssm:/${self:provider.stage}/DJANGO_SECRET_KEY}
  wsgi:
    app: riddle.wsgi.application
    packRequirements: false

functions:
  riddle:
    handler: ./handler.main
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'

